@import "tailwindcss";

html,
body {
  max-width: 2500px;
  overflow-x: hidden;

  padding: 0;
  margin: 0;

  

}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@theme {
  --color-light-yellow: #f9d4b4;
  --color-purple: #a47ad1;
  --color-deep-purple: #303672;
  --color-blue-black: #070911;
}



@utility landing-bg {
  background-image: radial-gradient(
    circle at top left,
    #f9d4b4 10%,
    #a47ad1 30%,
    #303672 70%,
    #070911 100%
  );
}


@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
  
}

@theme {
  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
      
    }
  }

  @keyframes green-glow-pulse {
    0%, 100% {
      box-shadow: 0 0 10px rgba(164,122,209,0.4), 0 0 20px rgba(164,122,209,0.1);
    } 
  }
}