@import "tailwindcss";

html,
body {
  max-width: 2500px;
  overflow-x: hidden;

  background: radial-gradient(
    circle at top left,
    #f9d4b4 10%,    /* Light purple-peach center */
    #a47ad1 30%,   /* Mid violet */
    #303672 70% ,  /* Deep purple/black outer edge */
    #070911 100%
  );

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@theme {
  --color-light-yellow: #f9d4b4;
  --color-purple: #a47ad1;
  --color-deep-purple: #303672;
  --color-blue-black: #070911;
}

